@charset "UTF-8";

body {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
}

h2 {
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    text-align: justify;
}

a {
    color: white;
}