@charset "UTF-8";

body {
    background: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: 233eff;
    background-size: contain;
    background-repeat: no-repeat;
}
